<%= form_for(@article) do |f| %>
<div class="form-label">
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>
  <%= f.label :content %>
  <%= f.text_field :content %>
  <%= f.submit %>
<% end %>
